@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
  margin: 0;
}

.body-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* .button {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-family: inherit;
} */

.page-header {
  position: relative;
}

.navigation-logo {
  position: absolute;
  top: 0;
  left: 70px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 892px;
  margin: 0 auto;
  padding-left: 238px;
  padding-right: 70px;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
  box-sizing: border-box;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  margin: 0;
  padding: 20px 16px;
  text-align: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 270px;
  margin-left: auto;
  padding: 0;
}

.header-buttom {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
}

.main-container {
  flex-grow: 1;
}

.hero {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #3f5e72;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.lead {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.advantages {
  padding-top: 69px;
  text-align: center;
}

.advantages-lead {
  margin: 0 285px 25px 285px;
}

.text {
  text-align: center;
  margin: 0;
}

.advantages-text {
  margin: 0 270px 69px 270px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.advantages-wrap {
  width: 230px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  padding: 90px 85px;
  margin-top: auto;
  margin-bottom: auto;
}

.advantages-img-wrap {
  width: 800px;
}

.advantages-description {
  color: #333333;
  margin: 0;
}

.advantages-item-wide {
  display: flex;
  width: 100%;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.advantages-img {
  display: block;
}

.services {
  padding-top: 64px;
  text-align: center;
}

.services-lead {
  margin: 0 347px 20px 347px;
}

.services-text {
  margin: 0 350px 64px 350px;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  text-transform: uppercase;
  margin: 0;
}

.services-description {
  text-align: center;
  color: #333333;
  margin: 0;
}

.appointment {
  padding-top: 96px;
  padding-bottom: 96px;
}

.appointment-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0;
}

.appointment-text {
  margin-bottom: 54px;
}

.hotel-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  font-family: inherit;
}

.subscription {
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscription-index {
  background-image: url("../images/Subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #3f5e72;
  color: #ffffff;
}

.subscription-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  margin: 0 360px 20px 360px;
}

.subscription-text {
  text-align: center;
  margin: 0 360px 54px 360px;
}

.subscription-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  font-family: inherit;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 40px 70px 30px 70px;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.phone {
  width: 340px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.filter-hotels {
  background-image: url("../images/filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 35px 70px 70px 70px;
}

.filter-hotels-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #ffffff;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.control {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.button-apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  font-family: inherit;
}

.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: inherit;
}

.hotel-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  width: 1060px;
  margin: 0 auto;
}

.hotel-card-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-card-link {
  text-decoration: none;
}

/* Объединить это позже? */
.hotel-card-category {
  color: #333333;
}
.hotel-card-price {
  color: #333333;
}

.more-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  font-family: inherit;
}

.favorites-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  font-family: inherit;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}

.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.subscription-catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.subscription-catalog-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
