@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
  margin: 0;
}

.body-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-family: inherit;
}

.page-header {
  position: relative;
}

.navigation-logo {
  position: absolute;
  top: 0;
  left: 70px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 892px;
  margin: 0 auto;
  padding-left: 238px;
  padding-right: 70px;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  margin: 0;
  padding: 20px 16px;
  text-align: center;
  position: relative;
}

.navigation-user .navigation-item.item:last-child{
  width: 44px;
  height: 64px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 16px;
  height: 1px;
  width: calc(100% - 32px);
  border-top: 2px solid #756257;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #dbdbdb;

  }

.navigation-item{
  position: relative;
}

.number-of-favorites{
  position: absolute;
  bottom: 10px;
  left: 10px;
 padding: 5px;
  border-radius: 50%; 
  background-color: #7DB54F;
  color: #FfffFF;
font-size: 10px;
line-height: 10px;  
}

.navigation-user {
  max-width: 270px;
  margin-left: auto;
  padding: 0;
}

.header-buttom {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  height: 36px;
  border-radius: 4px;
  display: block;
}

.main-container {
  flex-grow: 1;
}

.hero {
  background-image: url("../images/Vector-hero.svg"),
    url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, center top;
  background-size: 1200px 57px, cover;
  background-color: #3f5e72;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.lead {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.advantages {
  padding-top: 69px;
  text-align: center;
}

.advantages-lead {
  margin: 0 285px 25px 285px;
}

.text {
  text-align: center;
  margin: 0;
}

.advantages-text {
  margin: 0 270px 69px 270px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  background: rgba(131, 179, 211, 0.2);
  color: #333333;
}

.advantages-item:nth-child(even) {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-wrap {
  width: 230px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  padding: 90px 85px;
  margin-top: auto;
  margin-bottom: auto;
}

.advantages-img-wrap {
  width: 800px;
}

.advantages-description {
  margin: 0;
}

.advantages-item-wide {
  display: flex;
  width: 100%;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto 62px auto;
    width: 180px;
    position: relative;
}

.advantages-title::after{
  content: "";
  position: absolute;
  bottom: -30px;
left: 50%;
transform: translateX(-50%);
  height: 2px;
  width: 60px;
  border-top: 2px solid rgba(0, 0, 0, 0.30);;
}

.advantages-img {
  height: 100%;
  object-fit: cover;
}

.services {
  padding-top: 64px;
  text-align: center;
}

.services-lead {
  margin: 0 347px 20px 347px;
}

.services-text {
  margin: 0 350px 64px 350px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-item {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  padding: 80px 85px;
  padding-top: 183px;
  margin-top: auto;
  margin-bottom: auto;
  background: rgba(131, 179, 211, 0.2);
}

.services-item:nth-child(even) {
  background: rgba(131, 179, 211, 0.12);
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.services-description {
  text-align: center;
  color: #333333;
  margin: 0;
}

.house{
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 80px;
}

.services-list .burger {
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 80px;
}

.gift{
  background-image: url("../images/gift.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 80px;
}

.appointment {
  padding-top: 96px;
  padding-bottom: 96px;
}

.appointment-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0;
}

.appointment-text {
  margin-bottom: 54px;
}

.hotel-search {
  box-sizing: border-box;
  display: block;
  width: 376px;
  margin: 0 auto;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  font-family: inherit;
}

.subscription {
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscription-index {
  background-image: url("../images/Subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #3f5e72;
  color: #ffffff;
}

.subscription-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  margin: 0 360px 20px 360px;
}

.subscription-text {
  text-align: center;
  margin: 0 360px 54px 360px;
}

.subscription-form {
  display: grid;
  grid-template-columns: auto 232px;
  width: 682px;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.subscription-field {
  border: 0;
  padding: 12px 20px;
  font-size: 18px;
  font-family: PT Sans;
  line-height: 24px;
  background: #f2f2f2;
}

.subscription-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  font-family: inherit;
  border: none;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 40px 70px 30px 70px;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.phone {
  width: 340px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(242, 242, 242, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal--show {
  display: flex;
}

.modal-container {
  position: relative;
  box-sizing: border-box;
  width: 717px;
  padding: 64px 70px;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
}

.filter-hotels {
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px 70px 70px;
  margin-bottom: 50px;
}

.filter-hotels-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}

.breadcrumbs-item {
  display: inline;
  font-size: 16px;
  color: #ffffff;
  margin-right: 30px;
  position: relative;
}

.breadcrumbs-item::before {
  content: "";
  position: absolute;
  top: 5px;
  right: -15px;
  background-image: url(../images/arrov-home.svg);
  background-repeat: no-repeat;
  background-position: left;
  width: 7px;
  height: 10px;
}

.breadcrumbs-item:last-child::before {
  display: none;
}

.home-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/home.svg);
  background-repeat: no-repeat;
  background-position: 3px 3px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.control {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.button-apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  font-family: inherit;
}

.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: inherit;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin: 0 auto 40px auto;
}

.sorting-text {
  margin: 0;
  margin-right: auto;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control{
  width: 292px;
padding: 14px 20px;
  border-radius: 4px;
border: 2px solid #E5E5E5;
font-family: inherit;
color: #333333;
font-size: 18px;
line-height: 21px;
}

.sorting-buttons{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-left: 70px;
}

.sorting-button{
  border-radius: 4px;
border: 2px solid #E5E5E5;
width: 48px;
height: 48px;
background-repeat: no-repeat;
background-position: center;
}

.sorting-button:hover {
  border-color: #000000;
}

.selector:focus {
  border-color: #68A2CA;
}

.sorting-button-current {
  border-color: #000000;
}

.sorting-card{
  background-image: url(../images/cards.svg);
}

.sorting-big-photo{
  background-image: url(../images/big-photo.svg);
}

.sorting-list{
   background-image: url(../images/list.svg);
}

.sorting .button {
  display: block;
  width: 48px;
  height: 48px;
}

.hotel-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  width: 1060px;
  margin: 0 auto 80px auto;
}

.hotel-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  gap: 16px;
}

.hotel-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  margin-top: auto;
  align-items: center;
}

.hotel-card-title {
  flex-grow: 1;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-category {
  color: #333333;
}
.hotel-card-price {
  color: #333333;
  text-align: right;
}

.more-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  font-family: inherit;
  border-radius: 4px;
  box-sizing: border-box;
}

.favorites-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  font-family: inherit;
  border: 0;
  border-radius: 4px;
}

.stars {
  margin: 0;
  height: 17px;
  width: 18px;
  background: url(../images/star.svg) space 0 0;
}
.star-one {
  width: 18px;
}
.star-two {
  width: 42px;
}
.star-three {
  width: 66px;
}
.star-four {
  width: 89px;
}
.star-five {
  width: 112px;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  text-align: center;
  margin: auto;
  background-color: #82b3d3;
  border-radius: 4px;
  background: #f2f2f2;
  width: 140px;
  padding: 8px;
  box-sizing: border-box;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  width: 400px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  gap: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
  min-width: 60px;
  height: 60px;
  padding: 0 12px;
  box-sizing: border-box;
  text-decoration: none;
}

.subscription-catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.subscription-catalog-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/* a { color: red; }
a:visited { color: grey; }
a:hover { color: blue; }
a:active { background-color: yellow; }/*
